code/HyperTRIBE/annotations/refFlat.txt
code/__pycache__/*
1%_bed_motif/*
1%_bed.tar
*.fa*
refgen/mm39.ncbiRefSeq.CDS_UTR.gtf
refgen/meme_out/meme.txt
wget-log
code/HyperTRIBE/annotations/refFlat.txt
code/__pycache__/*
*.bkp
.Rhistory
.RData
*.pper
*.tar
*.bedgraph
*.motifs
*.motifs5
1%_bed_motif_homer/*
1%_bed_motif_meme/*
.Rproj.user/*
*.html
*.png
*.RDS
*DS_Store
*drawio
*xls
*tar
*gtf
*txt
*zip
*Rproj
*history
*csv